@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
}

p {
    font-size: 12px;
}

/*
Medidas absolutas:
cm, mm, in, px, pt, pc

melhor das absolutas -> px um pixel da tela

Medidas relativas:
em, rem, ex, vw, vh, %

em = tamanho do m da fonte
rem = tamanho do m da fonte do html
ex = altura x da fonte
vw = largura da tela
vh = altura da tela
% = porcentagem

é recomendado que para o font-size sejam usados o (px) e o (em)


*/