@charset "UTF-8";

@font-face {
    font-family: "raskesly";
    src: url("../fontes/rakesly\ lt.otf") format("opentype");
}

@font-face {
    font-family: "idroid";
    src: url("../fontes/idroid.otf") format("opentype");
}

@media (min-width: 1080px) {
    iframe {
        height: 420px;
    }
}

@media (max-width: 840px) {
    iframe {
        height: 340px;
    }
}

@media (max-width: 420px) {
    iframe {
        height: 170px;
    }
}


/* O Porcento faz referencia ao widht da div pai */

.destaque {
    color:#1c633c;
    font-weight: bolder;
}

.subDestacado {
    color:#38c577
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
    background-color: #53d78f;
}

body {
    height: 100%;
}

a {
    text-decoration: none;
    color:#1c633c;
    font-weight: bolder;
}

a::after {
    content: " 🔗";

}

li {
    text-decoration: none;
    list-style-type: none;
}

header > section {
    padding: 15px;
    height: 80%;
    background-image: linear-gradient(180deg, #2D9F60, #1A5C38);
}

header > section > h1 {
    margin: 1%;
    text-align: center;
    text-shadow: 0px 1px 2px black;
    color: white;
    font-family: raskesly;
    font-size: 32px;
}

header > section > p {
    margin: 2%;
    text-align: center;
    text-shadow: 0px 1px 2px black;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.762);
}

header > nav {
    height: 20%;
    padding: 0px 0px 12px 15px;
    background-color: #1A5C38;
}

header > nav > ul > li {
    margin: 0px 15px 15px 0px;
    text-shadow: 0px 1px 2px black;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    color: white;
}

main {
    border-radius: 0px 0px 7px 7px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.511);
    width: 80%;
    margin: 0px auto 15px auto;
    background-color: white;
}

main > div {
    padding: 2%;
}

main > div > h1 {
    margin: 0px 0px 15px 0px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.738);
    color: #1A5C38;
    font-family: idroid;
}

main > div > h2 {
    text-indent: 20px;
    margin: 10px 0px 10px 0px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.727);
    color: #1A5C38;
    background-color: #53d78f;
    font-family: idroid;
}

main > div > p {
    text-indent: 20px;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    margin: 5px 0px 5px 0px;
}

main > div > img {
    display: block;
    width: 50%;
    margin: 15px auto 15px auto;
}

main > div > picture > img {
    display: block;
    width: 100%;
    margin: 15px auto 15px auto;
}

/* 16:9 */
/*
  width: 560px; 
  height: 315px;
*/

main > iframe {
    background-color: #103a23;
    width: 90%;
    display: block;
    margin: 20px auto 20px auto;
    padding: 5%;
}

main > div > section {
    padding: 0px 0px 5px 0px;
    margin: 0px auto;
    width: 90%;
    border-radius: 10px;
    background-color: #53d78f;
}

main > div > section > h2 {
    text-indent: 10px;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    padding: 5px 0px;
    color: white;
    background-color: #368a5c;
}

main > div > section > p {
    text-indent: 30px;
    margin: 5px 15px;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

main > div > section > div {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 20%;
}

main > div > section > div > ul {
    margin: 5px 30px;
}

main > div > section > div > ul > li::before {
    content: "✓ ";
}

main > div > section > div > ul > li {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

footer {
    padding: 10px;
    background-color: #103a23;
}

footer > p {
    text-align: center;
    color: white;
}